extends adminlayout
block link
  link(rel='stylesheet', href='/stylesheets/forms.css')
block content
  form(method='POST')
    legend Add user
    .form-group
      label(for='username') Username
      input.form-control(type='text', name='username', autofocus)
    .form-group
      label(for='email') Email
      input.form-control(type='text', name='email')
    .form-group
      label(for='displayName') Display Name
      input.form-control(type='text', name='displayName')
    .form-group
      label(for='userType') User Type
      select.form-control(name='userType')
       option(value='student') Student
       option(value='admin') Admin
      input.form-control(type='submit' value="Add User") 
