doctype html
html(lang='en')
	head
		block title
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='/main.css')
		block link
		script(src='/app.js')
	header
		div
			img(src='/assets/img/uonseahorse.png')
			| Systems &amp; Network Admin Portal
		div
			| #{user.displayName}
			.arrow-down
				.dropdown
					a(href='/logout') Logout
	body#main
		div#layout
			div#sidebar
				a(href='/admin') Admin Home
				a(href='/') Student Home Page
				a(href='/admin/adduser') Add User
				a(href='/admin/upload') Upload VHD
				a(href='/admin/lab') Lab Management
				a(href='/admin/vms') VM Management
				a(href='/logout') Logout
			div#content
				block content
	footer 2016 UoN Major Project Azure Team
