extends adminlayout

block title
	title Lab Deletion page

block content
	script(src='../js/labpage.js')
	h1 List of Labs
	div#lab
		div#labs-container

		script.
			var obj = !{labinfo};
			var availableLabs = obj.availableLabs;
			var labsContainer = $('#labs-container');
			for (var i in availableLabs) {
				var lab = $('<div>', {
					class: 'lab',
					html: availableLabs[i].labname,

					});
					var button = $('<button>', {
					html: 'Delete',
					class:'del',
					id: i


					});
					var link = $('<a>', {
					href: '#',

					});

					link.append(button);
					lab.append(link);
					lab.append("</a>");
					labsContainer.append(lab);
					}
		script.
			var availableLabs = obj.availableLabs;
			for (var i in availableLabs){
				var number = String(i);
				document.getElementById(number).onclick=(function(opt){
					return function(){
						deleteLab(opt);
					}
				})(i)

			}
