extends adminlayout

block title
	title Lab Management

block content
	h1 Lab Management Home
	p Select Add Lab to add a new lab for the course
	p Select Delete Lab to remove labs
	a(href='/admin/labupload')
		button.lab Add Lab
		
	a(href='/admin/labdelete')
		button.del Delete Lab
