extends adminlayout
block title
	title Add New Lab
block link
	link(rel='stylesheet', href='/stylesheets/forms.css')
block content
	h1 Add New Lab
	form(action='/admin/lab/req',enctype="multipart/form-data",method='post')
		label(for='labname') Lab Name
		input(id='labname',name='labname',type='text',required='')
		.form-group
			label(for='vmrequired') Virtual Machines Required
				.checkbox
					label(for='vmrequired-0')
						input#vmrequired-0(type='checkbox', name='vmrequired1', value='true')
						|Windows Desktop 1
				.checkbox
					label(for='vmrequired-1')
						input#vmrequired-1(type='checkbox', name='vmrequired2', value='true')
						|Windows Desktop 2
				.checkbox
					label(for='vmrequired-2')
						input#vmrequired-2(type='checkbox', name='vmrequired3', value='true')
						|Windows Server
		h3 Lab File
		input(id='labfile',name='labfile',type='file',accept='application/pdf',required='')
		
		input(id='submit',type='submit' value='Submit')
