extends adminlayout
block title
	title Upload VHD
block link
	link(rel='stylesheet', href='/stylesheets/forms.css')
block content
	h1 Upload Virtual Hard Drives
	form(action='/admin/upload/req',enctype='multipart/form-data',method='post')
		input#upload-input(type='file',name='title')
		input#submit(type='submit',value='Start Upload')
