extends adminlayout

block content
	h1 Virtual Machines Management
	p Listed below are the Virtual Machines that are currently created on the current resource group.
	p Please note that Virtuals Machines take some time to delete. You only need to click once
	p Refresh the page to see if the Virtual machine is still available
	p If after 15 minutes the Virtual Machine is still there click delete again.
	a(href='/api/deallocateall')
		button(type='submit') Deallocate All Virtual Machines
	div#vm-container
	script(src='../js/labpage.js')
	script.
		var obj = !{vms};
		var values = obj.value;
		var vmContainer =$('#vm-container');
		for(var i in values){
			var vm = $('<div>',{
				class:'vm',
				html:values[i].name
			});
			var deletebutton = $('<button>', {
				html: 'Delete',
				id: 'shutdown'+i
			});
					
			var deletelink = $('<a>', {
					href: '#',
			});
			
			deletelink.append(deletebutton);
			vm.append(deletelink);
			vm.append("</a>")
			vmContainer.append(vm);
		}
	script.
		var obj = !{vms};
		var values = obj.value;
		for(var i in values){
			var number = String(i);
			document.getElementById('shutdown'+number).onclick=(
				function(opt){
					return function(){
						deleteVM(opt)
					}
				})(values[i].name);
		}
		
		
