#lab {
	max-width: 600px;
	width: 100%;

	.lab {
		align-items: center;
		border: 1px #ddd solid;
		border-bottom-color: #bbb;
		border-bottom-width: 2px;
		border-radius: 4px;
		display: flex;
		height: 64px;
		justify-content: space-between;
		padding: 0 20px;

		button {
			.core-button(#3a6);
			border-radius: 4px;
			height: 32px;
			padding: 16px;
			width: 80px;
		}
		button.del{
			.core-button(#f03);
			border-radius: 4px;
			height: 32px;
			padding: 16px;
			width: 80px;
		}
	}
}
