extends layout

block content
	form(method='POST')
		legend Reset Password
		.form-group
			label(for='oldPassword') Old Password
			input(type='password',name='oldPassword')
		.form-group
			label(for='newPassword') New Password
			input(type='password',name='newPassword')
		.form-group
			label(for='confirm') Confirm New Password
			input(type='password',name='confirm')
		.form-group
			button(type='submit') Update Password
