doctype html
html(lang='en')
	head
		title Login
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='/main.css')
		script(src='/app.js')
	body#login
		.outer-container
			.main-container
				.logo-box
					img.logo(src="/assets/img/uonwhite.png")
				.login-box
					img.logo(src="/assets/img/uonwhite.png")
					form.form-signin(action='/login', method='post')
						h1.heading Systems &amp; Network Admin Portal
						input#user.form-control(
							type='text',
							placeholder='Username',
							required='',
							autofocus='',
							name='username')
						input#pword.form-control(
							type='password',
							placeholder='Password',
							required='',
							name='password')
						button.signin(type='submit', action='Selection.html')
							| Sign In
						
					a(href='forgetpassword')
						button(type='submit',value='forget')
							| ForgotPassword
