extends layout.pug

block title
	title Labs Index

block content
	div#lab
		h1 My Labs
		p View content for your labs and their associated virtual machines
		div#labs-container
		script(src='../js/labpage.js')
		script.
			var obj = !{labinfo};
			var availableLabs = obj.availableLabs;
			var labsContainer = $('#labs-container');
			for (var i in availableLabs) {


				var lab = $('<div>', {
					class: 'lab',
					html: availableLabs[i].labname,

				});
				var button = $('<button>', {
					html: 'Open',
					id: i


				});
				var link = $('<a>', {
					href: '#',

				});

				link.append(button);
				lab.append(link);
				lab.append("</a>");
				labsContainer.append(lab);
			}
		script.
			var availableLabs = obj.availableLabs;
			for(var i in availableLabs){
				var number = String(i);
				document.getElementById(number).onclick = (function(opt){
					return function(){
						labrequest(opt);
					}
				})(availableLabs[i].filename);
			}
