extends layout.pug

block title
    title Lab
    // Bootstrap Core CSS
    link(href='../stylesheets/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='../stylesheets/simple-sidebar.css', rel='stylesheet')
    link(rel='../stylesheet', type='text/css', href='/stylesheets/vmbarstyle.css')

    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
    // script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    // script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')

block content
        .container-fluid
          .topbar
            .add-new-button.button.btn-danger(onclick='showHideAdd();')
              | +
          .js_add-new.add-new
            style.
              .hide { position:fixed; top:-1px; left:-1px; width:1px; height:1px; }
            iframe.hide(name='hiddenFrame')
            #machineOne
              button.btn-primary(onclick='startDeskOne()') Start Windows Desktop 1
              button.btn-danger(onclick='stopDeskOne()') Stop Windows Desktop 1
              button#connectOne.btn-success(onclick='connectDeskOne()', disabled='true') Connect to Windows Desktop 1
              p#winDeskOne Status: unknown
              br
            #machineTwo
              button.btn-primary(onclick='startDeskTwo()') Start Windows Desktop 2
              button.btn-danger(onclick='stopDeskTwo()') Stop Windows Desktop 2
              button#connectTwo.btn-success(onclick='connectDeskTwo()',disabled='true') Connect to Windows Desktop 2
              p#winDeskTwo Status: unknown
              br
            #machineThree
              button.btn-primary(onclick='startServer()') Start Windows Server
              button.btn-danger(onclick='stopServer()') Stop Windows Server
              button#connectServ.btn-success(onclick='connectServer()',disabled='true') Connect to Windows Server
              p#winServer Status: unknown
              br

          .js_vm-list.vm-list
          .row
            .col-lg-12
            h1#labheader
            .embed-responsive(style='padding-bottom:150%')
              object(id='pdfobject', data='../labsheet/Lab5.pdf', type='application/pdf', width='100%', height='100%')
          // /#page-content-wrapper
        // /#wrapper
        // jQuery
        script(src='../js/jquery.js')
        // Bootstrap Core JavaScript
        script(src='../js/bootstrap.min.js')
        script(src='../js/vmManagement.js')
        // Menu Toggle Script
        script.
           $("#menu-toggle").click(function(e) {
           e.preventDefault();
           $("#wrapper").toggleClass("toggled");
           });
        script.
           var srclink = #{link};
           var pdf = !{pdf}
           document.getElementById("pdfobject").data=srclink+pdf

        script.
         var username = !{user};
        
