doctype html
html(lang='en')
	head
		block title
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='/main.css')
		script(src='/app.js')
	header
		div
			img(src='/assets/img/uonseahorse.png')
			| Systems &amp; Network Admin Portal
		div
			| #{user.displayName}
			.arrow-down
				.dropdown
					a(href='/logout') Logout
					
	body#main
		div#layout
			div#sidebar
				a(href='/main') Home
				a(href='/lab') My Labs
				a(href='/changepassword') Change Password
				a(href='/logout') Logout
			div#content
				.script
					if messages.error
						.alert.alert-danger
							div= messages.error
					if messages.info
						.alert.alert-info
							div= messages.info
					if messages.success
						.alert.alert-success
							div= messages.success
				block content
		script.
			
			if(!{userType}=='admin'){
				var sidebar = document.getElementById('sidebar');
				var newLink = document.createElement("a")
				newLink.href ='/admin'
				newLink.innerHTML = 'Admin Home';
				sidebar.appendChild(newLink);
			}
	footer 2016 UoN Major Project Azure Team
