extends layout.pug

block title
	title Welcome

block content
	h1 Main Page
	p Welcome to the University of Newcastle Virtual Lab page
	p If this is your first time logging on we recommend you change your password
	p To get started, click My Labs in the sidebar
