extends resetlayout
block content
	form(method='POST')
		legend Forgot Password
		.form-group
			label(for='email') Email
			input.form-control(type='text', name='email', autofocus)
			button(type='submit') Reset Password
