doctype html
html(lang='en')
	head
		block title
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='/main.css')
		script(src='/app.js')
	header
		div
			img(src='/assets/img/uonseahorse.png')
			| Systems &amp; Network Admin Portal
		
					
	body#main
		div#layout
			div#sidebar

			div#content
				.container
					.script
						if messages.error
							.alert.alert-danger
								div= messages.error
						if messages.info
							.alert.alert-info
								div= messages.info
						if messages.success
							.alert.alert-success
								div= messages.success
				block content
	
	footer 2016 UoN Major Project Azure Team
