/**
 * Major Project Styles
 */

// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');
@primary-font-family: 'Source Sans Pro', sans-serif;
@secondary-font-family: 'Open Sans', sans-serif;

// Main content
@primary-background-color: #fff;
@primary-text-color: #222;

// Sidebar
@sidebar-background-color: #3b4868;
@sidebar-text-color: #fff;

// Footer
@footer-background-color: #2c3742;
@footer-text-color: #fff;


// Buttons
@button-main-background-color: #3789e8;
@button-main-text-color: #fff;


.core-button(@color) {
	appearance: none;
	background-color: @color;
	border: 0;
	border-bottom: 2px darken(@color, 20%) solid;
	border-radius: 20px;
	color: @button-main-text-color;
	cursor: pointer;
	font-family: @secondary-font-family;
	font-size: 14px;
	font-weight: bold;
	height: 40px;
	line-height: 0;
	padding: 20px;
	width: 140px;

	&:hover {
		background-color: darken(@color, 10%);
		border-bottom-color: darken(@color, 30%);
	}
}


// Common styles
body {
	background-color: @primary-background-color;
	color: @primary-text-color;
	font-family: @secondary-font-family;
	height: 100%;
	margin: 0;
	position: absolute;
	width: 100%;
}

header {
	background-color: @primary-text-color;
	color: @primary-background-color;
	font-family: @primary-font-family;
	height: 40px;
	left: 0;
	line-height: 40px;
	position: relative;
	top: 0;
	width: 100%;

	img {
		float: left;
		height: 24px;
		padding: 8px 10px 0 16px;
	}

	div {
		&:first-child {
			float: left;
		}
		&:last-child {
			cursor: pointer;
			float: right;
			padding-right: 16px;

			.dropdown {
				background-color: @sidebar-background-color;
				color: @sidebar-text-color;
				display: none;
				padding: 0;
				position: fixed;
				right: 0;
				text-align: center;
				top: 40px;
				width: 80px;

				a {
					color: #fff;
					text-decoration: none;
				}
			}

			&:hover {
				.dropdown {
					display: block;
				}
			}
		}

		.arrow-down {
			border-left: 5px transparent solid;
			border-right: 5px transparent solid;
			border-top: 5px white solid;
			height: 0;
			margin: 18px 0 0 10px;
			padding: 0;
			width: 0;
		}
	}
}

#layout {
	display: flex;
	height: calc(~"100vh - 88px");

	#sidebar {
		background-color: @sidebar-background-color;
		color: @sidebar-text-color;
		flex: 0 0 200px;

		a {
			color: #fff;
			display: block;
			padding: 10px;
			text-decoration: none;
			transition: .2s background-color ease;

			&:hover {
				background-color: lighten(@sidebar-background-color, 10%);
			}
		}
	}

	#content {
		padding: 0 20px;
		width: 100%;
	}
}

footer {
	background-color: @footer-background-color;
	bottom: 0;
	color: @footer-text-color;
	cursor: default;
	font-size: 14px;
	height: 48px;
	left: 0;
	line-height: 48px;
	position: fixed;
	right: 0;
	text-align: center;
	user-select: none;
}

// Specific styles
@import "styles/lab.less";
@import "styles/login.less";
